{% extends '::base.html.twig' %}

{% block body %}
    <div class="c-100">
        <div class="title-box-blue">
            Accueil <i class="icon-minus"></i>
        </div>
        <div class="content-box content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam architecto, aut corporis delectus doloribus ex explicabo facilis, itaque iure minima minus praesentium provident, quae quod suscipit unde voluptas.</p>
        </div>
    </div>
{% endblock body %}