<!DOCTYPE html>
<html>

<head lang="fr">
    <meta charset="utf-8">
    <title>{% block title %}Syna{% endblock title %}</title>
    <meta name="title" content="Panel Admin" />
    <meta name="description" content="Panel Admin" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" id="favicon" href="favicondg.ico">
    <meta name="author" content="Aribart Vincent et Gomez Damien">

    <link href='{{ asset('backend/css/reset.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('backend/css/style.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('backend/css/font.css') }}' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body class="login-screen">
{% block body %}
{% endblock body %}
<script>
    $(document).ready(function() {
        $(window).resize(function() {
            $("#c-login").css({
                position:'absolute',
                left:($(window).width() - $("#c-login").outerWidth()) / 2,
                top:($(window).height() - $("#c-login").outerHeight()) / 2
            });
        });
        $("#formSubmit").click(function(e) {
            e.preventDefault();
            $("#login").submit();
        });
    });
    $(window).load(function() {
        $(window).resize();
    });
</script>

</body>